.heading1 {
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.heading2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 1em;
}

.heading3 {
  font-size: 1.25em;
  font-weight: 500;
  margin-top: 1.6em;
  margin-bottom: 0.8em;
}

.heading4 {
  font-size: 1.125em;
  margin-top: 1.3em;
  margin-bottom: 0.65em;
}

.heading5 {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.heading6 {
  font-size: 0.875em;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

article > .heading1:first-child,
article > .heading2:first-child,
article > .heading3:first-child,
article > .heading4:first-child,
article > .heading5:first-child,
article > .heading6:first-child {
  margin-top: 0;
}
